<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1095541565902-tkb855kql2ce0obgonqt900q6m70ct6k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1095541565902-tkb855kql2ce0obgonqt900q6m70ct6k</string>
	<key>API_KEY</key>
	<string>AIzaSyCXGR3qwZK9YNHT4Tqz2o61TfyLf25cDCo</string>
	<key>GCM_SENDER_ID</key>
	<string>1095541565902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kudratiKahumbo</string>
	<key>PROJECT_ID</key>
	<string>kudrati-kahumbo</string>
	<key>STORAGE_BUCKET</key>
	<string>kudrati-kahumbo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095541565902:ios:a91a6e1e07bf336751a39f</string>
</dict>
</plist>